#if($!type==1)
<div class="scroller">
    <div class="ks-switchable-content">
        #foreach($msg in $!currentProofMsg)
        <div class="list-item J_ListItem">
            #if($!msg.attachment)
            #set($newUrl ="$!msg.attachment"+"_120x120.jpg")
            #set($originalUrl="$!msg.attachment"+".jpg")
            <img class="J_ImgDD" data-original-url="$refundImageServer.getURI("refund/$originalUrl")" src="$refundImageServer.getURI("refund/$newUrl")"/>
            #end
            #parse("control/listImageComment.vm")
        </div>
        #end
    </div>
</div>
#end