<div class="image-comment">
    <img class="comment-icon" src="http://img02.taobaocdn.com/tps/i2/T1yhMcXbBdXXb38KzX-15-13.png"/>
    <div class=" J_ImageCommentContent">
        <p class="comment-author">$!roleNameµÄÁôÑÔ£º</p>
        <p>$!msg.content</p>
    </div>
</div>